*{
    margin: 0px;
    padding: 10px;
}
.heading{
   
    padding: 20px;
  
    border-radius: 10px;
    
    font-size: xx-large;
    color: rgb(99, 7, 7);
}

* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .item-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 ;
  }
  
  .item1 {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    padding: 10px;
    width: 45%;
    background-image: linear-gradient(to bottom right,rgb(86, 59, 149), rgb(158, 205, 225), rgb(196, 146, 207));
    
  }
  
  .item1 img {
    border-radius: 5px;
    height: 100%;
    margin-right: 10px;
    width: 50%;
  }
  
  .item-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
  }
  
  .item1 h3 {
    margin-bottom: 10px;
    color:red;
    
  }
  
  .pagination {
  
    justify-content: center;
    margin-top: 20px;
    align-items: right;
  }
  
  .pagination button {
    background-color: #63c7d7;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #100f0f;
    cursor: pointer;
    font-size: 50px;
    margin-top: 350px;
    margin-left: 1300px;
    padding: 5px 10px;
    height:100px;
    width: 100px;
    box-shadow: 6px 6px 6px 6px rgb(127, 163, 178);
    
  }
  #overlay {
    position: fixed;
    
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    z-index: 2;
    cursor: pointer;
  }
  
  .pagination button:hover,
  .pagination button.active {
    background-color: #7f7bcc;
    color: #0a0b0b;
  }
  
  @media screen and (max-width: 768px) {
    .item {
      width: 100%;
    }
  }
h1{
    margin: 10px;
    padding: 10px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: red;
}  
body{
    background-image: url("/5.jpg");
}
.item{
    background-color: rgb(63, 134, 158);
}
select{
    padding: 5px;
    background-color: rgb(63, 134, 158);
    border-radius: 5px;
    margin: 0px;
}
.location{
    padding: 20px;
    padding-top: 0px;
}

html{
  scroll-behavior: smooth;
}
.main{
  width: 100%;
  background: linear-gradient(to top,rgba(0, 0, 0, 0.5)50%,rgba(0,0,0,0.5)50%), url(/images/wallpaperflare.com_wallpaper\ \(23\).jpg);
  background-position: center;
  background-size: cover;
  height: 110vh;
}

.navbar{
  width: 100%;
  height: 75px;
  margin: auto;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  z-index: 1;
  background-color: rgb(6, 6, 6);
  border-radius: 5px;
  box-shadow: 3px 3px 3px 3px rgb(75, 91, 132);
  text-decoration: underline  rgb(147, 2, 4) 3px;
}
h1{
  text-align: center;
  font-size: 35px;
}
.icon{
  width: 400px;
  float: left;
  height: 75px;
}
.logo{
  color: rgb(255, 241, 47);
  font-size: 35px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-left: 0 px;
  /* float: left; */
  padding-top: 15px;
  padding-left: 30px;
  font-weight: bold;
  

}
.menu{
  width: 134px;
  float: left;
  height: 70px;
}

ul{
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul li{
  list-style: none;
  margin-left: 25px;
  margin-top: 27px;
  font-size: 15px;
}
ul li a{
  text-decoration: none;
  color: white;
  font-family: Arial;
  font-weight: bold;
  transition: 0.4 ease-in-out;
}

ul li a:hover{
  color:rgb(255, 0, 0);
  

}
.search{
  width: 330px;
  float: left;
  margin-left: 10%;


}
.srch{
  font-family: 'Times New Roman';
  width: 150px;
  height: 40px;
  background: transparent;
  border: 2px solid red;
  margin: 13px;
  color: white;
  /* border-right: none; */
  font-size: 16px;
  float: left;
  padding: 7px;
 border-radius: 10px;
  margin-right: 1.5px;
}
.btn{
  width: 70px;
  height: 40px;
  background: red;
  border: 2px solid red;
  margin-top: 13px;
  color: white;
  font-size: 20px;
  border-radius: 10px;

  
  
}
.btn:focus{
  outline: none;

}
.srch:focus{
  outline: rgba(255, 0, 0, 0.244);
}
.content{
  width: 1000px;
  height: auto;
  margin-left: 300px;
  margin-top: 50px;
  color: whitesmoke;
  /* position: relative; */
  float: left;

}
.content p{
  padding-left: 0px;
  padding-bottom: 25px;
  font-family: Arial;
  letter-spacing: 2 px;
  font-weight: bold;
  /* line-height: px; */
}
.content h1{
  font-family: 'Times New Roman';
  font-size: 50px;
  padding-left: 0px;
  margin-top: 100px;
  letter-spacing: 2px;
  color: whitesmoke;
}


.content span{
  color: red;
  font-size: 60px;
}
.mess{
  color: red;
  font-size: x-large;
}
